{% extends 'template_dash.html.twig' %}

{% block title %} EspaceStage | Ajout Cote {% endblock %}

{% block body %}
              
        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">Voici le formulaire d'ajout des cotes</h1>
            </div>

            <!-- Content Row -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 style='text-align:center'>Formulaire ajout</h1>
                    {{ form_start(form) }}
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        {{ form_label(form.etudiant) }}
                                        {{ form_widget(form.etudiant, {'attr': {
                                            'class':'required form-control',
                                        }}) }}
                                        
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        {{ form_label(form.cote) }}
                                        {{ form_widget(form.cote, {'attr': {
                                            'class':'required form-control',
                                        }}) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        {{ form_label(form.entreprise) }}
                                        {{ form_widget(form.entreprise, {'attr': {
                                            'class':'required form-control',
                                        }}) }}
                                        
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        {{ form_label(form.provenance) }}
                                        {{ form_widget(form.provenance, {'attr': {
                                            'class':'required form-control',
                                        }}) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        {{ form_label(form.promotion) }}
                                        {{ form_widget(form.promotion, {'attr': {
                                            'class':'required form-control',
                                            'placeholder':'L4 MSI'
                                        }}) }}
                                        
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        {{ form_label(form.date_cotation) }}
                                        {{ form_widget(form.date_cotation, {'attr': {
                                            'class':'required form-control',
                                        }}) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="card-footer"> 
                        {{ form_widget(form.editer, {'attr': {'class':'btn btn-primary'}}) }}
                    </div>
                </div>
            </div>

            <!-- Content Row -->

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

  {% endblock %}