{% extends 'template_rh.html.twig' %}

{% block title %} StageManager | Taches {% endblock %}

{% block body %}
        <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Liste toutes les cotes</h1>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">DataTables Taches</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Nom Etudiant</th>
                                            <th>Promotion</th>
                                            <th>Cote/10</th>
                                            <th>Date Cotation</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for cote in cotes %}
                                            <tr>
                                                <td>{{ cote.etudiant }}</td>
                                                <td>{{ cote.promotion }}</td>
                                                <td>{{ cote.cote }}</td>
                                                <td>{{ cote.dateCotation|date("Y-m-d") }}</td>
                                                <td>
                                                    <a href="{{ path("details_cote", {id: cote.id}) }}" class="btn btn-primary">Voir</a>
                                                    <a href="{{ path("editer_cote", {id: cote.id}) }}" class="btn btn-primary">Modififer</a>
                                                    <a href="{{ path("delete_cote", {id: cote.id}) }}" class="btn btn-primary">Supprimer</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->


  {% endblock %}