{% extends 'template_rh.html.twig' %}

{% block title %} StageManager | Dashbord {% endblock %}

{% block body %}
              
        <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Liste de toutes les demandes de stage</h1>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">DataTables Demande</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Nom étudiant</th>
                                            <th>Type de stage</th>
                                            <th>Date debut</th>
                                            <th>Date fin</th>
                                            <th>Durée</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for demande in demandes %}
                                            <tr>
                                                <td>{{ demande.etudiant }}</td>
                                                <td>{{ demande.type }}</td>
                                                <td>{{ demande.dateDebut|date("Y-m-d") }}</td>
                                                <td>{{ demande.dateFin|date("Y-m-d") }}</td>
                                                <td>{{ demande.duree }}</td>
                                                <td>
                                                    <a href="" class="btn btn-primary">Voir plus</a>
                                                    <a href="" class="btn btn-primary">Accepter</a>
                                                    <a href="" class="btn btn-primary">Supprimer</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->


  {% endblock %}